.speech-bubble {

	width: 666px;
	padding: 30px 60px 30px 30px;
	border: 1px solid white;
	border-radius: 33px;
	box-shadow: 0 0 7px -1px inset white;
	position: relative;
	min-height: 22px;

	> p {
		display: none;
	}
}