.speech-section-wrap {
	position: relative;
}
.speech-bubble {
	background: #000;
	width: 666px;
	padding: 15px 60px 15px 30px;
	border: 1px solid white;
	box-shadow: 0 0 7px -1px inset white;
	border-radius: 33px;
	position: relative;
	min-height: 86px;
    transition: all 300ms ease-in-out;
    display: none;

    &.visible {
    	display: block;
    }

    &.answers-visible {
    	border-radius: 33px 33px 0 0;
    }

	.statement,.question {
		display: none;
	}
}